body{
    background-color: antiquewhite;
}
.side_bar {
    background: rgb(200, 190, 190);
    height: 64px;
}
.logo{
    height: 100%;
}
.list{
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.Home{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.Products{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.Contact{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.main{
    background-color: #dc8181;
    height: 600px;
    width: 600px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}
.main .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}
.title{
    text-align: center;
}
.picture-1{
    width: 100%;
}
.text{
    color: #000000;
    font-size: 20px;
    text-align: center;
}